.scroll-container {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 20px 0;
    z-index: 2;
    position: relative;
}
.card {
    color: #fff;
    min-width: 200px;
    width: 100%;
    max-width: 250px;
    border-radius: 8px;
    transition: transform 0.3s ease;
    max-height: 250px;
    background-position: center;
    background-size: cover;
}
.card:hover {
    transform: scale(1.05);
}
.scroll-container::-webkit-scrollbar {
    height: 8px;
}
.scroll-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}
.scroll-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.carousel {
    margin-bottom: 30px;
    width: 100%;
    margin-left: 0;
    padding: 0;
}

#hero {
    position: relative;
    z-index: 1;
}

.dropdown-menu {
    min-width: 0;
    background-color: rgb(33 37 41);
    width: auto;
    padding: 0;
}

.table {
    margin-top: 10px;
    margin-bottom: 0;
    
}

.table th, .table td {
    padding: 8px 10px;
    text-align: left;
}
.dropdown-item {
    color: #fff;
    text-decoration: none;
}

.login {
    margin-top: 30px;
    margin-left: 35%;
    margin-right: 35%;
}

.h1 {
    color: #fff;
    margin-top: 10%;
}
.login_btn {
    margin: 0 auto;
    display: block;
}

.modal-content {
    background-color: #141519;
    color: #fff;
}

#results-list {
    list-style: none;
    padding: 0;
    margin-top: 5px;
    border: 1px solid #ccc;
}

#results-list li {
    padding: 8px;
    border-bottom: 1px solid #eee;
}